.title{
    text-align: center;
}
.example-form{
    width: 100%;
}
.dialog{
    cursor: pointer;
}
.button:hover{
    background-color: #346ccb;
    font-weight: bold;
    color: #fbfcfd;
}
.btn{
    align-items: center;
}
.notification{
    color: red;
}
.row{
    margin-top: 1%;
}
.line{
    border: 2px solid black;
}
.btn-primary{
    background-color: #346ccb;
    font-weight: bold;
    color: #fbfcfd;
}
.bold{
    font-weight: bold;
}